#mobile-project-card {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 16px;
    margin: 1% 0 1% 0;
    width: 100%;
    animation: fade-in 2s;
}

#mobile-project-picture {
    width: 100%;
    height: auto;
    border-radius: 10px;
    animation: fade-in 2s;
}

#mobile-project-picture img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    animation: fade-in 2s;
}

#mobile-project-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 5% 0 0 0;
}

#mobile-project-description {
    width: 100%;
}

.mobile-ProjectName {
    font-size: 1.25rem !important;
    font-weight: 500;
    margin: 2.5% 0 2.5% 0;
}

.mobile-time {
    margin: 2.5% 0 2.5% 0;
}

#mobile-project-details .mobile-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2.5% 0 0 0;
}

#mobile-project-details .mobile-links a{
    margin: 0 2% 0 2%;
    display: flex;
    border: 1px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 2px 2px 2px 2px;
}

#default #mobile-project-details .mobile-links a{
    border-color: white;
}

#dark #mobile-project-details .mobile-links a{
    border-color: white;
}

#light #mobile-project-details .mobile-links a{
    border-color: black;
}

#mobile-project-details .mobile-links #icon{
    font-size: 1.5em;
}

#default #mobile-project-details .mobile-links #icon{
    color: white;
}

#dark #mobile-project-details .mobile-links #icon{
    color: white;
}

#light #mobile-project-details .mobile-links #icon{
    color: black;
}

#default #mobile-project-details .mobile-links a:hover{
    background-color: #6C757D;
}

#dark #mobile-project-details .mobile-links a:hover{
    background-color: #6C757D;
}

#light #mobile-project-details .mobile-links a:hover{
    background-color: #6C757D;
    #icon {color: white;}
}

.mobile-tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 2.5% 0;
}

.mobile-badgeTech {
    flex-wrap: wrap;
    padding: 0.35em 0.65em 0.35em 0.65em;
    width: fit-content;
    margin: 1%;
    font-weight: 700;
    font-size: 0.75em;
    border-radius: 0.375rem;
}

#default .mobile-badgeTech {
    background-color: #6C757D;
    color: white !important;
}

#dark .mobile-badgeTech {
    background-color: #6C757D;
    color: white !important;
}

#light .mobile-badgeTech {
    background-color: #6C757D;
    color: white !important;
}