#project-card {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 16px;
    margin: 1% 0 1% 0;
    width: 100%;
    animation: fade-in 2s;
}

#project-picture {
    width: 30%;
    height: auto;
    border-radius: 10px;
    animation: fade-in 2s;
}

#project-picture img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    animation: fade-in 2s;
}

#project-details {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#project-description {
    width: 40%;
}

.ProjectName {
    margin: 2.5% 0 2.5% 0;
}

.time {
    margin: 2.5% 0 2.5% 0;
}

#project-details .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 2.5% 0 2.5% 0;
}

#project-details .links a{
    display: flex;
    border: 1px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 2px 2px 2px 2px;
}

#default #project-details .links a{
    border-color: white;
}

#dark #project-details .links a{
    border-color: white;
}

#light #project-details .links a{
    border-color: black;
}

#project-details .links #icon{
    font-size: 1.5em;
}

#default #project-details .links #icon{
    color: white;
}

#dark #project-details .links #icon{
    color: white;
}

#light #project-details .links #icon{
    color: black;
}

#default #project-details .links a:hover{
    background-color: #6C757D;
}

#dark #project-details .links a:hover{
    background-color: #6C757D;
}

#light #project-details .links a:hover{
    background-color: #6C757D;
    #icon {color: white;}
}

.tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 2.5% 0;
}

.badgeTech {
    flex-wrap: wrap;
    padding: 0.35em 0.65em 0.35em 0.65em;
    width:fit-content;
    margin: 1%;
    font-weight: 700;
    font-size: 0.75em;
    border-radius: 0.375rem;
}

#default .badgeTech {
    background-color: #6C757D;
    color: white !important;
}

#dark .badgeTech {
    background-color: #6C757D;
    color: white !important;
}

#light .badgeTech {
    background-color: #6C757D;
    color: white !important;
}