.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.5s;
}

#default .scrolled {
    background-color: #2e3339;
    transition: background-color 0.5s;
}

#dark .scrolled {
    background-color: #2e3339;
    transition: background-color 0.5s;
}

#light .scrolled {
    background-color: #d8d8d8;
    transition: background-color 0.5s;
}

.topbar {
    display: flex;
    justify-content: space-between;
    margin: 0 2% 0 2%;
    align-items: center;
}

.logo {
    font-family: Audiowide, cursive;
    font-size: 40px;
}

.logo:hover {
    cursor: pointer;
}

#dark .logo {
    color: white;
}

#default .logo {
    color: white;
}

#light .logo {
    color: black;
}

.link-section {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;
}

.theme-links {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.links {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.links button {
    background-color: transparent;
    border: none;
    font-size: medium;
    margin: 0 1% 0 1%;
}

#dark .links button{
    color: #FFFFFF8C;
}

#dark .links button:hover{
    color: white;
    transition: 0.5s;
}

#default .links button{
    color: #FFFFFF8C;
}
#default .links button:hover{
    color: white;
    transition: 0.5s;
}

#light .links button{
    color: 	#404040;
    font-weight: normal;
    transition: font-weight .5s ease-in-out;
}

#light .links button:hover{
    font-weight: bold;
}

.theme button{
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    position: relative;
}

.theme #dark-btn {
    border-radius: 1rem 0 0 1rem;
}

.theme #light-btn{
    border-radius: 0 1rem 1rem 0;
}

#dark .theme button {
    border-color: white;
    color: white;
}

#default .theme button {
    border-color: white;
    color: white;
}

#light .theme button {
    border-color: black;
    color: black;
}