@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Audiowide;
  src: url(../public/fonts/Audiowide/Audiowide-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../public/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: 8px;
}

#default p {
  text-align: left;
  color: #ADB5BD !important
}

#dark p {
  text-align: left;
  color: #ADB5BD !important
}

#light p {
  text-align: left;
  color: black !important
}

#default{
  background-color: #212529;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
  line-height: 1.5rem;
  color: white;
}

#dark {
  background-color: #212529;
  transition: 0.5s;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
  line-height: 1.5rem;
  color: white;
}

#light {
  background-color: white;
  transition: 0.5s;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
  line-height: 1.5rem;
  color: black;
}

.title {
  font-family: "Audiowide", cursive;
  font-weight: 38px;
}

#default .title {
  border-color: white;
}

#dark .title {
  color: white;
}

#light .title {
  border-color: black;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto;
  width: 80%;
  animation: fade-in 5s;
}

.card {
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 8px 16px 8px 16px;
  animation: fade-in 5s;
}

#default .card {
  border-color: white;
}

#dark .card {
  border-color: white;
}

#light .card {
  border-color: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}