.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.space {
    height: 500px;
}

.main-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}